[Desktop Entry]
Version=0.0.1
Name=Logmaster
Comment=Log viewer and analyser
TryExec=/usr/bin/logmaster
Exec=/usr/bin/logmaster
Icon=logmaster.xpm
Terminal=false
Type=Application
Categories=Logging;Gtk;Development

